body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
}

a {
    color: purple;
}

table {
    background-color: white;
}

button {
    background-color: darkblue;
    color: white;
}